sudo: false
language: elixir
elixir:
  - 1.2.2
otp_release:
  - 18.2.1
services:
  - mysql
env:
  - MYSQL_TEST_DB_USERNAME=travis
  - MYSQL_TEST_DB_PASSWORD=""
before_script:
  - mysql -e "create database IF NOT EXISTS test;" -uroot
